$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.5rem;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  min-height: 100vh;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


p,
span,
b,
a {
  font-size: 0.875rem;
  margin-bottom: 0px;
  line-height: 22px;
}


::-webkit-scrollbar {
  width: 6.75px;
  height: 6.75px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 1rem 1rem white;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgba(181, 189, 198, 1);
}
